@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

@font-face {
  font-family: "Haveltica";
  src: url(/Helvetica-Font/Helvetica.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Haveltica";
}
:root {
  --redDark: #b51212;
  --redPale: #ba1313;
  --dark: #414141;
  --white: #fff;
  --greyBlue: #e5eef2;
  --darkenBlue: #09244b;
}
/* default class */
.title {
  margin-bottom: 20px;
}
/* Stylling Carousel Slider */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
}
.swiper-slide h1 {
  font-family: "Bebas Neue" !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 2px;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: var(--dark);
  border: 1px solid var(--white);
}
.swiper-pagination-bullet-active {
  background-color: var(--redPale) !important;
}
/* Stylling Brief Intro Part */
.brief_intro {
  width: 100%;
  padding: 50px 90px;
  background-color: var(--redPale);
  color: var(--white);
  text-align: center;
}
.intro_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro_content img {
  width: 150px;
  height: 150px;
}
.intro_content p {
  width: 300px;
  font-size: 13px;
  margin-bottom: 0;
}
/*Purpose Part*/
.purpose_aim {
  padding: 50px 90px;
  overflow: hidden;
}
.purpose_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.purpose_img img {
  width: 50%;
}
.purpose_text {
  width: 470px;
}
ul {
  padding-left: 18px !important;
}
li::marker {
  color: var(--redDark);
}
.see_more {
  display: block;
  text-align: end;
  text-decoration: none;
  color: var(--redPale);
  opacity: 0.9;
  font-weight: bold;
}
.see_more:hover {
  opacity: 1;
  color: var(--redDark);
}
/* Review and feedback */
.review {
  padding: 50px 90px;
  background-color: var(--greyBlue);
}
.review h1 {
  text-align: center;
  margin-bottom: 20px;
}
.myReviewSwiper {
  width: 900px;
}
.review_slide {
  display: flex;
  justify-content: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--dark) !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}
.review_card {
  width: 700px;
  height: 250px;
  background-color: #d9d9d9;
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.avatar_img {
  width: 40%;
}
.avatar_img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.review_text {
  width: 60%;
  padding: 0 20px;
  margin: auto 0;
}
.review_title {
  text-align: end;
  font-weight: bold;
  color: var(--darkenBlue);
  margin-bottom: 3px;
}
.review_subtitle {
  text-align: end;
  font-style: italic;
  margin: 0%;
}

/* Animation */
.purpose_img img {
  animation: updown 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes updown {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
